{% extends 'base_generic.html' %}

{% block title %}
    <title>{{ article.title }}</title>
{% endblock %}

{% block content %}
    {% load static %}
    <section class="content__left col-md-8">
        <div class="block">
            <a>{{ article.count_views }} просмотров</a>
            <h3>{{ article.title }}</h3>
            <div class="block__content">
                <img src="{{ article.title_image_b64 }}">

                <div class="full-text">{{ article.description|safe }}</div>
            </div>
        </div>

        <div class="block">
            <a href="#comment-add-form">Добавить свой</a>
            <h3>Комментарии к статье</h3>
            <div class="block__content">
                <div class="articles articles__vertical">

                    {% for comment in comments %}
                        <article class="article">
                            <div class="article__image"
                                 style="background-image: url({% static '/images/no-photo.png' %});"></div>
                            <div class="article__info">
                                <a href="#">{{ comment.nickname }} aka {{ comment.name }}</a>
                                <div class="article__info__meta">
                                    <small>{{ comment.date_of_create }}</small>
                                </div>
                                <div class="article__info__preview">
                                    {{ comment.text }}
                                </div>
                            </div>
                        </article>
                    {% endfor %}

                </div>
            </div>
        </div>

        <div class="block" id="comment-add-form">
            <h3>Добавить комментарий</h3>
            <div class="block__content">
                <form class="form" method="POST" action="{% url 'comment-save' article.id %}">
                    {% csrf_token %}
                    <div class="form__group">
                        <div class="row">
                            <div class="col-md-6">
                                {{ form.name }}
                            </div>
                            <div class="col-md-6">
                                {{ form.nickname }}
                            </div>
                        </div>
                    </div>
                    <div class="form__group">
                        {{ form.text }}
                    </div>
                    <div class="form__group">
                        <input type="submit" class="form__control" name="do_post"
                               value="Добавить комментарий">
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}