{% extends 'blog/../../templates/base_generic.html' %}

{% block title %}
    <title>Блог IT_Минималиста!</title>
{% endblock %}

{% block content %}
    <section class="content__left col-md-8">
        <div class="block">
            <a href="{% url 'all-articles' %}">Все записи</a>
            <h3>Новейшее_в_блоге</h3>
            <div class="block__content">
                <div class="articles articles__horizontal">
                    {% for article in last_four_all_articles %}
                        <article class="article">
                            <div class="article__image"
                                 style="background-image: url({{ article.title_image.url }});"></div>
                            <div class="article__info">
                                <a href="{% url 'article-detail' article.pk %}">{{ article.title|truncatechars:25 }}</a>
                                <div class="article__info__meta">
                                    <small>Категория: <a
                                            href="{% url 'category-articles' article.category_id %}">{{ article.category }}</a>
                                    </small>
                                </div>
                                <div class="article__info__preview">{{ article.description|safe|striptags|truncatechars:120 }}</div>
                            </div>
                        </article>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}