<section class="content__left col-md-8">
    <div class="block">
        <a href="{% url 'all-articles' %}">Все записи</a>
        <h3>Новейшее_в_блоге</h3>
        <div class="block__content">
            <div class="articles articles__horizontal">
                {% for article in lastFourAllArticles %}
                    <article class="article">
                        <div class="article__image"
                             style="background-image: url({{ article.titleImg.url }});"></div>
                        <div class="article__info">
                            <a href="{% url 'article-detail' article.pk %}">{{ article.title|truncatechars:25 }}</a>
                            <div class="article__info__meta">
                                <small>Категория: <a
                                        href="{% url 'category-articles' article.category_id %}">{{ article.category }}</a>
                                </small>
                            </div>
                            <div class="article__info__preview">{{ article.description|truncatechars:120 }}</div>
                        </div>
                    </article>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="block">
        <a href="{% url 'category-articles' lastFourSecurityArticles.first.category_id %}">Все
            записи</a>
        <h3>Безопасность [Новейшее]</h3>
        <div class="block__content">
            <div class="articles articles__horizontal">
                {% for article in lastFourSecurityArticles %}
                    <article class="article">
                        <div class="article__image"
                             style="background-image: url({{ article.titleImg.url }});"></div>
                        <div class="article__info">
                            <a href="{% url 'article-detail' article.pk %}">{{ article.title|truncatechars:25 }}</a>
                            <div class="article__info__meta">
                                <small>Категория: <a
                                        href="{% url 'category-articles' article.category_id %}">{{ article.category }}</a>
                                </small>
                            </div>
                            <div class="article__info__preview">{{ article.description|truncatechars:120 }}</div>
                        </div>
                    </article>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="block">
        <a href="{% url 'category-articles' lastFourProgrammerArticles.first.category_id %}">Все
            записи</a>
        <h3>Программирование [Новейшее]</h3>
        <div class="block__content">
            <div class="articles articles__horizontal">
                {% for article in lastFourProgrammerArticles %}
                    <article class="article">
                        <div class="article__image"
                             style="background-image: url({{ article.titleImg.url }});"></div>
                        <div class="article__info">
                            <a href="{% url 'article-detail' article.pk %}">{{ article.title|truncatechars:25 }}</a>
                            <div class="article__info__meta">
                                <small>Категория: <a
                                        href="{% url 'category-articles' article.category_id %}">{{ article.category }}</a>
                                </small>
                            </div>
                            <div class="article__info__preview">{{ article.description|truncatechars:120 }}</div>
                        </div>
                    </article>
                {% endfor %}
            </div>
        </div>
    </div>
</section>