<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
        <title>Базовый шаблон</title>
    {% endblock %}

    {% load static %}
    <!-- Bootstrap Grid -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/bootstrap-grid-only/css/grid12.css' %}">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">

    <!-- Custom -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
{% include 'header.html' %}
<div id="wrapper">

    <div id="content">
        <div class="container">
            <div class="row">
                {% block content %}
                {% endblock %}
                {% include 'side_bars.html' %}
            </div>
        </div>
    </div>
</div>
{% include 'footer.html' %}
</body>
</html>